.info {
  background-color: #ffffffaf;
  margin: 20px;
  border-radius: 25px;
  text-align: center;
}
.info h1 {
  font-size: 3em;
  padding: 5px;
  color: white;
  margin: 5px;
}
.info img {
  width: 90%;
  max-width: 500px;
  margin: 20px 5px;
  border-radius: 25px;
}

.info p {
  display: inline-block;
  width: 90%;
  max-width: 1000px;
  font-size: 1em;
  padding: 10px;
  margin: 20px;
}
