.cart {
  background-color: antiquewhite;
  height: 300px;
  margin: 100px 200px;
}

@media only screen and (max-width: 800px) {
  .cart {
    margin: 100px 100px;
  }
}

@media only screen and (max-width: 580px) {
  .second-header h1 {
    font-size: 1em;
    padding: 5px;
  }

  .cart {
    margin: 100px 20px;
  }
}
