/*Global*/
html {
  background-color: #59696c;
}
body {
  margin: 0;
  background-image: linear-gradient(#1a3940, #1a3940, #c7a879);
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  max-width: 1400px;
  margin: auto;
}
header {
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.705),
      rgba(255, 255, 255, 0.507)
    ),
    url(../images/pexels-avery-nielsenwebb-2406384.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  background-position-x: right;
  background-position-y: bottom;
  text-align: left;
}
#logo {
  height: 6em;
  margin: 40px 60px;
}
#hamburger-icon,
header input {
  display: none;
}
.mini-nav {
  float: right;
  margin-top: -3em;
  margin-right: 0;
  background-color: #1a39408c;
  padding: 20px 60px 10px 20px;
  border-radius: 45px 0 0 45px;
}
.active {
  background-color: #1a3940;
}
.mini-nav img {
  width: 80px;
  margin-left: 20px;
}
ul {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 98px;
  display: flex;
}
li {
  display: inline;
  background-color: #1a39408c;
  border-radius: 25px 25px 0 0;
  margin: -7px 0;
  width: 100%;
  text-align: center;
}
nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 60px;
}
li.active {
  background-color: #1a3940;
}
.second-header img {
  width: 92%;
  margin-top: 30px;
  border-radius: 25px;
}
.second-header p,
.second-header h1,
.second-header h2,
.second-header h3,
span {
  font-size: 3.5em;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  margin: 4px;
  text-shadow: 3px 3px 6px black;
}
.second-header a {
  text-transform: uppercase;
  color: white;
  padding: 0 20px;
  margin-top: 0;
  text-decoration: none;
}
a {
  text-shadow: 6px 6px 8px rgb(17, 32, 29);
  transition: text-shadow 0.3s ease-in-out;
}
a:hover {
  text-shadow: none;
}
.md-image {
  display: none;
}
/*Image grid and raincoats*/
.festival-look-2023,
.ladies-raincoats,
.mens-raincoats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0em;
}

.img-grid {
  grid-area: 1 / 1 / -1 / -1;
}

.ladies-raincoats,
.mens-raincoats {
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
}

.ladies-raincoats img,
.mens-raincoats img {
  width: 100%;
  filter: brightness(70%);
  border-radius: 60px;
}

/***************************/

footer {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  width: 100%;
  z-index: 20;
  padding: 10px 0;
}
.footer-content {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px;
  display: grid;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  nav {
    display: none;
  }
  #hamburger-menu:checked ~ nav,
  header input {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }
  #hamburger-icon {
    width: 80px;
    display: block;
    margin-left: 20px;
  }
  .mini-nav {
    margin-top: -21px;
  }
  ul {
    margin-top: 50px;
    display: inline-block;
  }
  li {
    display: block;
    background-color: #1a3940;
    border-radius: 0;
    padding: 30px 0;
    margin: -10px 0;
  }
  nav a {
    font-size: 2em;
    padding: 0px;
    margin-top: 0px;
  }
  nav {
    position: absolute;
    width: 100%;
  }
  .second-header {
    height: 150px;
    padding: 50px;
    background-position-y: top;
    margin-bottom: 300px;
  }
  .second-header p,
  .second-header span {
    padding-left: 0px;
    font-size: 2em;
  }
  .second-header h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 815px) {
  .footer-content img,
  .footer-content input {
    width: 50px;
  }
}
@media only screen and (max-width: 750px) {
  .second-header {
    margin-bottom: 600px;
  }
  .laptop-image {
    display: none;
  }
  .md-image {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .mini-nav {
    margin-top: -10px;
    width: 0px;
  }
  .mini-nav img {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #hamburger-icon {
    width: 60px;
    margin-top: -10px;
  }
  .footer-content img,
  .footer-content input {
    width: 30px;
  }
  .second-header {
    height: 400px;
    margin-bottom: 110px;
  }
}
@media only screen and (max-width: 300px) {
  .second-header {
    margin-bottom: 45px;
  }
}
