.headlines {
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
}

.festival-look-2023 img {
  width: 100%;
  filter: brightness(60%);
}

.banner {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.534);
  padding: 10px;
}

.banner p {
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  margin: 5px;
  text-shadow: 3px 3px 6px black;
}

#warm {
  color: #ffb186;
}

#heavy {
  color: #92badc;
}

h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-transform: uppercase;
  text-shadow: 6px 6px 8px rgb(17, 32, 29);
  font-size: 4em;
  transition: text-shadow 0.3s ease-in-out;
}

h4:hover,
h5:hover,
h6:hover {
  text-shadow: none;
}

h4,
h5,
h6 {
  padding: 0 20px;
  margin-top: 0;
  font-weight: 700;
  grid-area: 1 / 1 / -1 / -1;
  place-self: center;
  z-index: 10;
}

.mens-raincoats {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
  .headlines {
    margin-top: 20px;
    /* max-width: 490px; */
  }
}

@media only screen and (max-width: 750px) {
  h2 {
    font-size: 3em;
  }

  .festival-look-2023 {
    grid-template-columns: auto;
  }

  .ladies-raincoats,
  .mens-raincoats {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 600px) {
  .hedlines {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .headlines p,
  .headlines span {
    font-size: 24px;
    margin-right: 5px;
  }

  .festival-look-2023 {
    margin-top: 50px;
  }

  .ladies-raincoats,
  .mens-raincoats {
    margin-top: 0;
  }
  .latest-news h1,
  .second-header h2,
  .second-header h3,
  h4,
  h5,
  h6,
  .banner p {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 1.5em;
  }
  .headlines p {
    font-size: 10px;
  }
  .latest-news {
    margin-bottom: 45px;
  }
}
