.ladies-raincoats,
.mens-raincoats {
  display: grid;
}

.img-grid {
  grid-area: 1 / 1 / -1 / -1;
}

.ladies-raincoats,
.mens-raincoats {
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 30px;
}

.ladies-raincoats img,
.mens-raincoats img {
  border-radius: 60px;
  width: 100%;
  box-shadow: 8px 8px 16px rgb(17, 32, 29);
  transition: box-shadow 0.3s ease-in-out;
}

.ladies-raincoats img:hover,
.mens-raincoats img:hover {
  box-shadow: none;
}

@media only screen and (max-width: 1200px) {
  .ladies-raincoats,
  .mens-raincoats {
    grid-template-columns: repeat(3, 1fr);
    margin: -40px 0px 40px 0;
  }
}

@media only screen and (max-width: 900px) {
  .ladies-raincoats,
  .mens-raincoats {
    grid-template-columns: repeat(2, 1fr);
    margin: -75px 0px 40px 0;
  }
}

@media only screen and (max-width: 750px) {
  .ladies-raincoats,
  .mens-raincoats {
    grid-template-columns: repeat(1, 1fr);
    margin: -50px 0px 40px 0;
  }
}
