/*Global*/
body {
  margin: 0;
  background-image: linear-gradient(#1a3940, #1a3940, #ea8953);
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

header {
  height: 300px;
  height: 300px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.705),
      rgba(255, 255, 255, 0.507)
    ),
    url(../images/pexels-avery-nielsenwebb-2406384.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  background-position-x: right;
  background-position-y: bottom;
  text-align: left;
}

#logo {
  height: 6em;
  margin: 40px 60px;
}

#cart {
  float: left;
}

#hamburger-icon,
header input {
  display: none;
}

.mini-nav {
  float: right;
  margin-top: -3em;
  margin-right: 0;
  background-color: #1a39408c;
  padding: 20px 60px 10px 20px;
  border-radius: 45px 0 0 45px;
}

.mini-nav img {
  width: 80px;
  margin-left: 20px;
}

ul {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 98px;
  display: flex;
}

li {
  display: inline;
  background-color: #1a39408c;
  border-radius: 25px 25px 0 0;
  margin: -8px 0;
  width: 100%;
  text-align: center;
}

nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 60px;
}

li.active {
  background-color: #1a3940;
}

/*Homepage*/
.headlines {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  max-width: 600px;
}

.latest-news {
  text-align: center;
  background-image: url(../images/Umbrella.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: right;
  margin: 20px;
  height: 190px;
  padding: 100px;
}

.latest-news p,
.latest-news h1,
.latest-news span {
  font-size: 3.5em;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  margin: 4px;
  text-shadow: 3px 3px 6px black;
}

.latest-news p,
.latest-news span {
  padding-left: 60px;
}

.latest-news p {
  text-decoration: underline;
}

.latest-news a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 0 20px;
  margin-top: 0;
}

h2 {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 3px 3px 6px black;
  font-size: 4em;
  padding: 0 20px;
  margin-top: 0;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  grid-area: 1 / 1 / -1 / -1;
  place-self: center;
  z-index: 10;
}

.festival-look-2023 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -1em;
}

.img-grid {
  grid-area: 1 / 1 / -1 / -1;
}

.festival-look-2023 img {
  width: 100%;
}

.banner {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.534);
  padding: 10px;
}

.banner p {
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  margin: 5px;
  text-shadow: 3px 3px 6px black;
}

#warm {
  color: #ffb186;
}

#heavy {
  color: #92badc;
}

/*section raincoats*/

.ladies-raincoats,
.mens-raincoats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
}

.ladies-raincoats img,
.mens-raincoats img {
  width: 100%;
  filter: brightness(60%);
}

.ladies-raincoats p,
.mens-raincoats p {
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  font-weight: 700;
  grid-area: 1 / 1 / -1 / -1;
  place-self: center;
  z-index: 10;
}

.mens-raincoats {
  margin-bottom: 100px;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
}

.footer-content {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px auto;
  display: grid;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  nav {
    display: none;
  }

  #hamburger-menu:checked ~ nav,
  header input {
    display: block;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-icon {
    width: 80px;
    display: block;
    margin-left: 20px;
  }

  .mini-nav {
    margin-top: -21px;
  }

  /*Navigation*/
  ul {
    margin-top: 50px;
    display: inline-block;
  }

  li {
    display: block;
    background-color: #1a3940;
    border-radius: 0;
    padding: 30px 0;
    margin: -10px 0;
  }

  nav a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 0px;
    margin-top: 0px;
  }

  nav {
    position: absolute;
    width: 100%;
  }

  .latest-news {
    height: 150px;
    padding: 50px;
    background-position-y: top;
  }

  .latest-news p,
  .latest-news span {
    padding-left: 0px;
  }

  .headlines {
    margin-top: 20px;
    max-width: 490px;
  }
  .latest-news h1 {
    font-size: 2em;
  }

  .latest-news p,
  .latest-news span {
    font-size: 2em;
  }
}

@media only screen and (max-width: 815px) {
  .footer-content img,
  .footer-content input {
    width: 50px;
  }
}

@media only screen and (max-width: 750px) {
  .laptop-image {
    display: none;
  }

  .festival-look-2023 {
    grid-template-columns: auto;
  }
  h2 {
    font-size: 3em;
  }

  .ladies-raincoats,
  .mens-raincoats {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 500px) {
  .mini-nav {
    margin-top: -10px;
    width: 0px;
  }

  .mini-nav img {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #hamburger-icon {
    width: 60px;
    margin-top: -10;
  }

  .latest-news {
    height: 400px;
  }

  .headlines p {
    font-size: 24px;
    margin-right: 5px;
  }

  .ladies-raincoats,
  .mens-raincoats {
    margin-top: 0;
  }
  .latest-news h1,
  .banner p,
  .ladies-raincoats p,
  .mens-raincoats p {
    font-size: 2.5em;
  }

  .footer-content img,
  .footer-content input {
    width: 30px;
  }
}
